<!DOCTYPE html>
<html lang = "en"> <!-- Language parameters -->

<head>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/styleSheet.css') }}" />
    <h1 align="center"> Amazon Roulette </h1>
    <h2 align = "center">  Are you feeling rich and lucky?? </h2>
</head>

<body>
    <div class="wrapper">
        <a href = "/searchpage"><button class="button">Sign Into Your Amazon Account</button>
        </a>
    </div>

    <div class="wrapper">
      <p1>
        <br>
        Ever wanted to buy something on Amazon, not knowing what is is? <br> <br>
        Well, now's your chance <br> <br>
        Our revolutionary site does just that:
      </p1>
    </div>

<div class="wrapper">
    <ul>
        <br> <br> <li> Log into your amazon account </li> <br>
        <li> Select the filters you want to contain your search into </li> <br>
        <li> Voilaa ... Your package will be in the mail soon! </li> <br>
   </ul>
</div>
</body>



</html>
