<!DOCTYPE html>
<html lang = "en"> <!-- Language parameters -->

<style>
body {
  background-color: white
}
</style>

<head>
    <h1 align="center"> Amazon Roulette </h1>
      <h2 align = "center">  Are you feeling rich and lucky?? </h2>

    <link rel = "stylesheet" type = "text/css" href = "styleSheet.css">
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script src="../static/ajax.js"></script>
</head>

<body>

  <div class="wrapper">
      <button class="button">Sign Up</button>
  </div>

  <button onclick="getProduct()">Get Product</button>

</body>



</html>
