<!DOCTYPE html>
<html lang = "en"> <!-- Language parameters -->

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styleSheet.css" />
    <title>Amazon Roulette</title>
</head>

<body>
  <!-- <a href = "/login"> <p style = "text-align:right"> Login </p></a>
  <a href = "/signup"> <p style = "text-align:right"> Sign Up </p></a> -->
<p class="main_body">
    <form action="">
        <input type="radio" name="price" value="Under $5">Under $5<br>
        <input type="radio" name="price" value="$5 to $10">$5 to $10<br>
        <input type="radio" name="price" value="$10 to $25">$10 to $25<br>
        <input type="radio" name="price" value="$25 to $50">$25 to $50<br>
        <input type="radio" name="price" value="$50 to $100">$50 to $100<br>
    </form>

    <button type = "button" style = "text-align:center">SEARCH</button>
</p>

</body>



</html>
