<!DOCTYPE html>
<html lang = "en"> <!-- Language parameters -->

<style>
body {
  background-color: green
}
</style>

<head>
    <h1 align="center"> Like Twitter! </h1>
      <h2 align = "center">  An alternative to Twitter!! </h2>
</head>

<body>

  <a href = "/login"> <p style = "text-align:right"> Login </p></a>
  <a href = "/signup"> <p style = "text-align:right"> Sign Up </p></a>

  <div style = "text-align: center;"> <img src = https://scontent-atl3-1.xx.fbcdn.net/v/t31.0-8/12719336_10154279152897580_9121113496828814735_o.jpg?oh=322acedf1b3df06890d48718f72f7a54&oe=5915735C width="400" height="400" alt="THE CEO">

</body>



</html>
