<html>
<head>
  <title>Sign Up - Liketwitter</title>
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../static/ajax.js"></script>
</head>
<body>
  <h1>Sign Up</h1>
  <form id="signupform">
    Username:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="password" name="password">
    <input type="submit" value="Submit" id="signUpSubmitButton">
  </form>
</body>
</html>
